MJ_APIKEY_PUBLIC=1c85fd4a42f0f6a313f308bd872b231a
MJ_APIKEY_PRIVATE=348c77f65602b34439995e79c72c60bb
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b
AI_SUMMARY_ENABLED=false
