@import "../SystemTypeForm/SystemTypeForm.css";

.SaveMedicine__comments-group {
  grid-column: 1 / -1;
}

.save-system-type-form .SaveMedicine__comments-group .form-textarea > textarea {
  height: 42px;
  min-height: 42px;
}
