.ReleasePatient {
  min-width: 400px;
  text-align: center;
}

.release-patient-label {
  text-align: center;
  margin-bottom: 0.3em;
}

.release-patient-form {
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.release-patient-details-container {
  overflow-y: scroll;
  max-height: 500px;
  display: flex;
  display: -webkit-flex; /* Safari */
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.release-patient-medicines {
  width: 100%;
}

.ReleasePatient .medicine-inputs-container .form-select {
  margin-top: 0;
}

.ReleasePatient input[type="range"] {
  transform: rotate(360deg); /* Flip the slider */
  transform-origin: center center; /* Keep the slider centered */
}

.ReleasePatient .range-slider-limits {
  flex-direction: row-reverse;
}
