.form-textarea-container {
  display: flex;
  display: -webkit-flex; 
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 80%;
  max-width: 100%;
  min-width: 0;
  direction: ltr;
}

.form-textarea-label {
  margin-top: 0.5em;
  margin-right: 0.5em;
  font-size: 1.1rem;
}

.form-required-indicator {
  color: #c62828;
  font-weight: 700;
}

.form-textarea {
  width: 100%;
  display: flex;
  display: -webkit-flex; 
  align-items: center;
  justify-content: flex-end;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: right;
  min-width: 0;
}

.form-textarea > textarea {
  text-align: right;
  outline: none;
  border-radius: 20px;
  border: 3px solid var(--input-border-color);
  padding: 0.5em 0.7em;
  width: 100%;
  min-width: 0;
  font-size: 1rem;
}

@media screen and (max-width: 700px) {
  .form-textarea-container {
    width: 100%;
  }

  .form-textarea-label {
    font-size: 1rem;
  }
}
