.Pagination {
  height: var(--table-pagination-height);
  width: max-content;
  margin: 0 auto;
  color: black;
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; /* Safari */
  justify-content: center;
  margin-top: 0.5em;
}

.pagination-disabled button,
.pagination-disabled input {
  pointer-events: none;
  cursor: default;
}

.pagination-btn {
  background-color: inherit;
  color: rgb(68, 68, 68);
  border: none;
  outline: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
  justify-content: center;
}

.pagination-btn-container {
  display: flex;
  display: -webkit-flex; /* Safari */
  align-items: center;
}

.pagination-pages-numbers {
  text-align: right;
  padding-right: 0.5em;
}

.pagination-btn:hover {
  background-color: rgb(243, 243, 243);
  color: rgb(165, 165, 165);
  cursor: pointer;
}

.pagination-btn:disabled {
  color: rgb(68, 68, 68);
  pointer-events: none;
}

.pagination-btn:disabled:hover {
  cursor: auto;
  background-color: transparent;
}

.pagination-current-page {
  margin: 0 0.5em;
  font-size: 1rem;
  padding-bottom: 0.05em;
  font-weight: 500;
  color: rgb(92, 92, 92);
}

.search-page-input {
  width: 40px;
  height: 25px;
  text-align: center;
  margin-right: 0.4em;
}

@media screen and (max-width: 600px) {
  .Pagination {
    width: 380px;
    min-width: 380px;
  }
  .pagination-pages-numbers {
    order: 2;
    text-align: center;
    width: 170px;
  }
}
