# Example environment variables
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=petec
CLINICA_URL=https://ww2.clinicaonline.co.il
CLINIC_USERNAME=
CLINIC_PASSWORD=

CLINIC_SYNC_CRON=0 6 * * *
CLINIC_TIMEZONE=Asia/Jerusalem